<!DOCTYPE HTML>
<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>AGC Demo</title>
		<!-- style IMPORT -->
		<link href='packages.css' rel='stylesheet' type='text/css' />		
		<!-- script IMPORT -->
		<script src='packages.js'></script>
		<!-- style ZOODUCK -->
		<link href='agc-application.css' rel='stylesheet' type='text/css' />
		<!-- script ZOODUCK -->
		<script src='agc-application.js'></script>
	</head>
	<body>

	<header>
		<h1>AGC Demo</h1>
	</header>

	</body>
</html>